*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    height: 90px;
    width: 100%;
}
.searchbar{
    height: 60px;
    width: 100%;    
    display: grid;
    place-content: center;
}
.searchbar input{
    height: 30px;
    width: 300px;
    padding: 6px;
    border-radius: 40px;
}
.left{
    height: 700px;
    width: 60%;
    background: green;
}
.right{
    height: 700px;
    width: 40%;
    background: yellow;
}
.main{
    display: flex;
}
.links{
    display: flex;
    gap: 100px;
}
.links a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
    gap: 20px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}


