*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    height: 90px;
    width: 100%;
}
.searchbar{
    height: 60px;
    width: 100%;    
    display: grid;
    place-content: center;
}
.searchbar input{
    height: 30px;
    width: 300px;
    padding: 6px;
    border-radius: 40px;
}
.left{
    height: 700px;
    width: 55%;
}
.right{
    height: 700px;
    width: 45%;
    background: yellow;
}
.main{
    display: flex;
}
.links{
    display: flex;
    gap: 100px;
}
.links a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: Tahoma;
}
nav{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
    gap: 20px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 100px;
    gap: 25px;
}
.title{
    display: flex;
    flex-direction: column;
}
.title h1{
    font-size: 100px;
    font-family: Tahoma;
}
.title h2{
    font-size: 100px;
    font-family: Tahoma;
    font-weight: 100;
    font-style: italic;
    margin-top: -10px;
}

.line{
    height: 6px;
    width: 400px;
    background-color: black;
}
.price h1{
    font-size: 60px;
    font-family: Tahoma;
}

.desc{
    width: 600px;
}
.desc p{
    font-family: Tahoma;
    font-size: 15px;
}
.CTA{
    display: flex;
    gap: 20px;
    align-items: center;
}
.CTA button{
    font-size: 26px;
    padding: 10px 20px 10px 20px;
    font-weight: 600;
    border-radius: 30px;
    background-color: rgb(13, 138, 78);
    border: none;
    color: whitesmoke;
}
.CTA a{
    font-size: 26px;
    font-family: Tahoma;

}

