*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    height: 80px;
    width: 100%;
    background-color: brown;
}
.searchbar{
    height: 60px;
    width: 100%;
    background: blue;
}
.left{
    height: 700px;
    width: 60%;
    background: green;
}
.right{
    height: 700px;
    width: 40%;
    background: yellow;
}
.main{
    display: flex;
}

